* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: scale(0.75);
}

.container {
    width: 98%;
    height: 98%;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#combo {
    background-image: linear-gradient(to right, #c300ff, #1900ff);
    position: absolute;
    top: -10%;
    left: -10%;
    font-size: 200%;
    border-radius: 30px;
    border: #b300fa 4px solid;
    width: 25%;
    color: white;
}

.opt {
    font-size: 50%;
    text-align: center;
    width: 10%;
}

#opt1 {
    color: white;
    background: #949494;
}

#opt2 {
    color: black;
}

#opt3 {
    color: white;
    background: #636363;
}

#opt4 {
    color: black;
}

#opt5 {
    color: white;
    background: #636363;
}

#opt6 {
    color: black;
}

#opt7 {
    color: white;
    background: #636363;
}

.wrapper {
    width: 99%;
    height: 99%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.states,
.input {
    width: 35%;
    height: 99%;
    background-color: #050000;
    border-radius: 20px;
}

.states {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0;
}

#state {
    font-size: 200%;
    font-family: 'Comic Sans MS';
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#state.styling,
#inputs.styling {
    font-size: 210%;
    font-weight: bold;
    color: blue;
}

#btn1 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
}

#btn2 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
}

#btn3 {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
}

.btn {
    font-family: 'Comic Sans MS';
    background-color: #fff;
    border: solid 1px black;
    border-radius: 20px 60px;
    margin: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 200%;
}

.btn:hover {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #b300fa;
    box-shadow: inset 0 0 50px 10px #b300fa;
}

.btn.active {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #b300fa;
    box-shadow: 0 0 50px 10px #b300fa;
}

.btn.activex {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #b300fa;
    box-shadow: 0 0 50px 10px #b300fa;
}

.btn.activey {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #b300fa;
    box-shadow: 0 0 50px 10px #b300fa;
}

.btn.activez {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #b300fa;
    box-shadow: 0 0 50px 10px #b300fa;
}

.btn.active2 {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #fae100;
    box-shadow: inset 0 0 50px 10px #fae100;
}

.btn.active3 {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #fae100;
    box-shadow: inset 0 0 50px 10px #fae100, 0 0 50px 10px #b300fa;
}

.btn.active31 {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #fae100;
    box-shadow: inset 0 0 50px 10px #fae100, 0 0 50px 10px #2afa00;
}

.btn.active4 {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #fae100;
    box-shadow: inset 0 0 50px 10px #fae100,
        0 0 50px 10px #b300fa;
}

.btn.active41 {
    border-radius: 60px 20px;
    transform: scale(1.05);
    border: solid 4px #fae100;
    box-shadow: inset 0 0 50px 10px #fae100,
        0 0 50px 10px #2afa00;
}

.input {
    display: grid;
    grid-template-rows: 0.67fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.inputs {
    font-size: 200%;
    font-family: 'Comic Sans MS';
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
    border-radius: 20px;
    margin: 10px;
}

.grids {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;
    display: flex;
}

.g1,
.g2 {
    width: 50%;
}

#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11 {
    height: 21%;
}


input:focus::placeholder {
    color: transparent;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

#state::placeholder {
    color: #000000;
    font-size: 50px;
}

#inputs::placeholder {
    color: #000000;
    font-size: 50px;
}
